.grid {
    width: 200px;
    background-color: pink;
    height: 400px;
    display: flex;
    flex-wrap: wrap; 
    border: 2px solid black;
}


.grid div {
    width: 20px;
    height: 20px;
}

.tetramino {
    background-color: blue;
}
